<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
         <mimeMap fileExtension=".json" mimeType="application/json" />
         <mimeMap fileExtension=".woff" mimeType="font/woff" />
         <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      </staticContent>
   </system.webServer>
</configuration>