

.main {

    display: flex;
    flex-direction: column;
    height: calc(70% - 5em);
    justify-content: center;
    align-items: center;

    & .__input-wrapper {
        position: relative;

        width: 30em;

        @media screen and (max-width: 650px) {
            width: 100%;
        } 

        & .mathfield {

            transition: 0.3s border-radius, 0.3s width, 0.3s height, 0.2s font-size;
            width: calc(100%- 0.5em);
            // height: 3em;
            padding: 0.25em;
    
            background-color: white;
            border: 1px solid $theme-light-green;
            border-radius: .25em;
            box-shadow: 0px 0px 2px 2px inset rgba(black, 0.2) !important;
    
            color: grey;
            text-align: center;
            font-size: 1.5em;
    
            display: flex;
            align-content: center;
            align-items: center;

            @media screen and (max-width: 650px) {
                border-radius: 0;
            } 
            
    
        }

        & .mq-text-mode {
            font-family: 'Bebas Neue', sans-serif !important;
        }
    
        & .mf-focused {
            color: black;
            font-size: 2em;
        }

        & .__action-bar {
            width: calc(100% + 1em);
            display: flex;
            position: relative;
            justify-content: center;

            & .__help-btn {
                position: absolute;
                left: 0;
                
                width: 1.5em;
                height: 1.5em;
                margin-top: .5em;

                display: flex;
                align-items: center;
                justify-content: center;

                font-family: 'Roboto', sans-serif;
                font-weight: 800;
                color: $theme-dark-green;

                border: 1px solid $theme-dark-green;
                border-radius: 0.5em;

                cursor: pointer;

                transition: all 0.3s;

                @media screen and (max-width: 850px) {
                    left: 0.5em;
                }

                &:hover {
                    color: white;
                    border-color: white;
                }

            }

            & .__go-btn {
                margin-top: 1em;
                width: 3em;
                border: 2px solid $theme-dark-green;
                border-radius: 0.5em;

                font-family: 'Bebas Neue', sans-serif;
                font-size: 1.3em;
                color: $theme-dark-green;


                display: flex;
                justify-content: center;
                align-items: center;

                transition: all 0.3s;

                cursor: pointer;

                &:hover {
                    color: white;
                    border-color: white;
                }

            }

        }

        & .__errors-icon {
            position: absolute;
            right: -0.5em;
            top: -0.5em;
            width: 1.5em;
            height: 1.5em;
            background-color: red;
            color: white;

            font-family: "Bebas Neue", sans-serif;

            // display: flex;
            display: none;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            @media screen and (max-width: 650px) {
                right: 0.5em;
            }

            & img {
                width: 1em;
            }

        }

        & .__issues-board {
            width: calc(100% - 1em);
            display: none;
            flex-direction: column;
            padding: 0.5em;
            background-color: white;
            border-radius: 0.25em;

            box-shadow: 0px 0px 2px 2px inset rgba(black, 0.1);

            & .__issue {
                border-radius: 0.15em;
                // padding: 0.15em;
                padding-left: 1em;
                margin-bottom: 0.5em;
                margin-top: 0.5em;
                border-left: 2px solid grey;

                font-family: "Epilogue", sans-serif;

            }

            & .__issue-pb {
                border-color: #A84A60;
            }

            & .__issue-ok {
                border-color: #11A627;
            }

            & .__separator {
                border-bottom: .5px solid grey;
            }


        }

    }

    & .variables-button {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;

        cursor: pointer;
        padding: 1em;
        border-radius: 0.5em;

        right: 2em;
        bottom: 2em;

        box-shadow: 0px 0px 2px 2px inset rgba(black, 0.3);

        @media screen and (max-width: 850px) {
            right: 1em;
            bottom: 1em;
            padding: 0.5em;

        }

        & .__image {
            
            & img {
                width: 5em;
            }

        }

        & .__text {

            font-family: 'Epilogue', sans-serif;
            color: $theme-dark-green;
            transition: color 0.3s;

        }

        &:hover > .__text {
            color: white;
        }

    }

    & .__title-wrapper {
        margin-top: 1em;
        margin-bottom: 2em;
        padding: 0.5em;

        & .__logo {
            margin-left: 1em;

            & img {
                width: 5em;
                transition: all 0.3s;
            }

            &:hover > img {
                transform: rotate(360deg);
            }

        }

        & .__title-right {
            margin-left: 1em;

            .__title-line {
                font-family: 'Bebas Neue', sans-serif;
                font-size: 3em;
                line-height: 1em;
                letter-spacing: 1px;
                color: white;
            }

            .__title-first-line {
                letter-spacing: 0em;
            }
        }

    }

    

}