
.content-wrapper {

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    margin-top: 3em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    color: white;

    overflow-y: auto;


    & .__title {

        width: 100%;
        text-align: center;
        
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 2em;

        margin-bottom: 1.5em;

    }

    & .__vars-container {
        width: 100%;

        display: flex;
        flex-direction: column;


        & .__var {
            width: 100%;
            display: flex;
            justify-content: space-between;

            & .__sym {
                width: 20%;
                font-family: 'Lucida Console', serif;
                text-align: center;

            }

            & .__name {

                & input {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    text-align: center;
                    font-size: 1.1em;
                    color: white;
                    background-color: rgba(black, 0);
                    border: none;
                    cursor: pointer;
                    transition: all 0.3s;
                    border-radius: 0.25em;
                    text-transform: capitalize;
                }

                &:hover > input {
                    color: #dadada;
                    background-color: rgba(#dadada, 0.1);
                }

            }

            & .__dim {
                font-family: 'Roboto', serif;
                font-weight: 300;
                text-align: center;
                width: 20%;

                transition: all 0.3s;
                border-radius: 0.5em;
                cursor: pointer;

                &:hover {
                    color: #dadada;
                    background-color: rgba(#dadada, 0.1);
                }

            }


        }

        & .__hz-separator {
            width: 100%;
            border-bottom: 1px solid white;
            height: 2px;
            opacity: 0.8;
            margin: 1em 0 1em 0;
        }

        & .__no-vars-disclaimer {

            font-family: "Epilogue", sans-serif;
            font-size: 1.3em;
            font-weight: 200;

            width: 100%;
            text-align: center;

        }

    }    


    & .__actions-container {
        display: flex;
        justify-content: space-around;
        margin-top: 4em;

        & .__action-btn {
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.25em;
            padding: 0.25em 0.5em;
            border: 2px solid white;
            border-radius: 0.5em;

            transition: all 0.3s;
            cursor: pointer;
        }

        & .__confirm-btn:hover {
            color: #9EF5A3;
            border-color: #9EF5A3;
        }

        & .__cancel-btn:hover {
            color: #E09891;
            border-color: #E09891;
        }

    }

}


.dim-editor {

    // display: flex;
    display: none;
    background-color: rgba(black, 0.85);
    width: fit-content;
    padding: 0.5em;
    border-radius: 0.5em;

    opacity: 0.95;

    position: absolute;
    left: 62.5%;
    top: 25.5%;

    .__dim-node {

        width: 1.5em;


        & input {
            width: 1em;
            background-color: black;
            border: .5px solid white;
            text-align: center;
            color: white;
            font-family: 'Bebas Neue', sans-serif;

        }

        & input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }

        & input[type=number] {
            -moz-appearance: textfield;
        }

        & .__text {
            color: white;
            margin-top: 0.3em;
            width: 1.25em;
            text-align: center;
            font-size: 1em;
            font-family: 'Bebas Neue', sans-serif;

        }

        & #theta-text {
            font-size: 0.7em;
            margin-top: 0.65em;
            margin-left: 0.25em;
        }


    }


}

.vars-page-close-btn {
    position: absolute;
    right: 4em;
    top: 4em;
    cursor: pointer;

    & img {
        width: 3em;
        transition: all 0.3s;
    }

    &:hover > img {
        width: 3.2em;
        transform: rotate(90deg);
    }

}